.userDisplay-conatiner {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 2rem 0;
  gap: 1rem;
}
.userDisplay-conatiner .table {
  border-radius: 1rem;
  width: 90%;
  margin-top: 2rem;
  overflow-x: scroll;
  overflow-y: hidden;
  border: 0.1rem solid var(--clr-para);
  padding: 1rem 0;
  background-color: var(--clr-primary);
}
